<!-- Adding Tag-->
<ng-template #tag let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Add Tag</h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <form>
      <div class="form-group">
        <label for="name">Name</label>
        <div class="input-group">
          <input id="tagname" #tagname class="form-control" placeholder="Name">
        </div>
      </div>
      <div class="form-group">
        <label for="description">Description</label>
        <div class="input-group">
          <input id="tagdescription" #tagdescription class="form-control" placeholder="Description">
        </div>
      </div>
    </form>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-success"
      (click)="modal.close();savetag(tagname.value,tagdescription.value)">Add</button>
    <button class="btn btn-secondary" (click)="modal.dismiss()">Close</button>
  </div>
</ng-template>
<!-- Adding Todo-->
<ng-template #todo let-modal>
  <form #todoForm="ngForm" (ngSubmit)="modal.dismiss();savetodo(todoForm.form.value)">
    <div class="modal-header">
      <h4 class="modal-title" id="modal-basic-title">Add Task</h4>
      <button type="button" class="close" aria-label="Close" (click)="modal.dismiss();closeTodo()">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <div *ngFor="let i of numSequence(noOfTasks);let index = index">
        <h6 *ngIf="index>0">Sub Task# {{index}}</h6>
        <div class="form-group">
          <label for="name">Name</label>
          <div class="input-group">
            <input id="name" class="form-control" placeholder="Name" [name]="'name'+index" required ngModel>
          </div>
        </div>
        <div class="form-group">
          <label for="description">Description</label>
          <div class="input-group">
            <input id="description" class="form-control" placeholder="Description" [name]="'description'+index" required
              ngModel>
          </div>
        </div>
        <div class="form-group">
          <label for="duedate">Due Date</label>
          <div class="input-group">
            <input id="duedate" type="date" class="form-control" placeholder="Due Date" [name]="'duedate'+index"
              ngModel>
          </div>
        </div>
        <div class="form-group">
          <label for="status">Status</label>
          <div class="input-group">
            <select class="form-control" [name]="'status'+index" ngModel required>
              <option value="pending">Pending</option>
              <option value="done">Done</option>
              <option value="overdue">Overdue</option>
              <option value="archived">Archived</option>
            </select>
          </div>
        </div>
        <div class="form-group">
          <label for="tag">Tag</label>
          <div class="input-group">
            <select class="form-control" [name]="'tag'+index" ngModel>
              <option [value]="tag['id']" *ngFor="let tag of tags">{{tag['name']}} : {{tag['description']}}</option>
            </select>
          </div>
        </div>
        <button (click)="noOfTasks=noOfTasks+1" type="button" *ngIf="index===noOfTasks-1">Add SubTask</button>
      </div>
    </div>
    <div class="modal-footer">
      <button type="submit" class="btn btn-success" [disabled]="!todoForm.valid">Add</button>
      <button class="btn btn-secondary" (click)="modal.dismiss();closeTodo()">Close</button>
    </div>
  </form>
</ng-template>

<div style="width:100%">
  <div style="width:500px;margin:0 auto">
    <button class="btn btn-primary" (click)="open(todo)">Add Todo</button>
    <button class="btn btn-primary" (click)="open(tag)">Add Tag</button>
    <button class="btn btn-primary" (click)="updateStatus()" *ngIf="todos.length>0">Update Status</button>
  </div>
  <div style="float:right;padding:10px;color:white;background-color: green;margin-right: 10%;" *ngIf="success">Success</div>
  <div style="float:right;padding:10px;color:white;background-color: red;margin-right: 10%;" *ngIf="error">Error</div>
  <!-- List of Tasks  -->
  <div style="width:90%;margin:0 auto">
    <h1 style="color:purple">Todos</h1>
    <table width="100%" style="text-align:center;line-height:2.5">
      <thead style="background-color:black;color:white;padding:10px">
        <tr>
          <td>Index</td>
          <td>Name</td>
          <td>Description</td>
          <td>Due Date</td>
          <td>Status</td>
          <td>Tag</td>
          <td>Completion Date</td>
          <td>Actions</td>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let todo of todos; let index = index;" style="cursor:pointer" (click)="currentTodo1=todo">
          <td>{{index+1}}</td>
          <td>{{todo['name']}}</td>
          <td>{{todo['description']}}</td>
          <td>{{todo['date']}}</td>
          <td>{{todo['status']}}</td>
          <td>
            <select class="form-control" (change)="assignTag(todo,$event.target.value)"
              style="width:200px;margin:0 auto">
              <option></option>
              <option [value]="tag['id']" *ngFor="let tag of tags" [selected]="tag['id']==todo['tag']['id']">
                {{tag['name']}} : {{tag['description']}}</option>
            </select>
          </td>
          <td>{{todo['completionDate']}}</td>
          <td>
            <fa-icon [icon]="faCheck" style="color:green;margin-right:10px" (click)="markcomplete(todo);hide()"
              title="Mark as Complete" *ngIf="todo['status']!='done'"></fa-icon>
            <fa-icon [icon]="faEdit" style="color:blue;margin-right: 10px;" (click)="currentTodo=todo;copyToEdit(todo);hide()"
            title="Edit"></fa-icon>
            <fa-icon [icon]="faTrash" style="color:red;margin-right:10px" (click)="delete(todo);hide()" title="Delete Todo">
            </fa-icon>
          </td>
        </tr>
      </tbody>
    </table>
    <hr>
    <!-- View Task -->
    <div *ngIf="currentTodo1!=null" style="width:50%;margin:50px auto">
      <h4 style="color:purple">View Task <button class="btn btn-secondary" (click)="currentTodo1=null" style="float:right">Close</button></h4>
      <table style="margin:20px">
        <tr>
          <td class="head">Name</td>
          <td>{{currentTodo1['name']}}</td>
        </tr>
        <tr>
          <td class="head">Description</td>
          <td>{{currentTodo1['description']}}</td>
        </tr>
        <tr>
          <td class="head">Due Date</td>
          <td>{{currentTodo1['date']}}</td>
        </tr>
        <tr>
          <td class="head">Status</td>
          <td>{{currentTodo1['status']}}</td>
        </tr>
        <tr>
          <td class="head">Tag</td>
          <td>{{currentTodo1['tag']['name']}} : {{currentTodo1['tag']['description']}}</td>
        </tr>
        <tr>
          <td class="head">Completion Date</td>
          <td>{{currentTodo1['completionDate']}}</td>
        </tr>
      </table>
      <table *ngFor="let todo of currentTodo1.sub;let index =index;" style="margin:20px">
        <h5 style="color:purple">Sub Task # {{index+1}}</h5>
        <tr>
          <td class="head">Name</td>
          <td>{{todo['name']}}</td>
        </tr>
        <tr>
          <td class="head">Description</td>
          <td>{{todo['description']}}</td>
        </tr>
        <tr>
          <td class="head">Due Date</td>
          <td>{{todo['date']}}</td>
        </tr>
        <tr>
          <td class="head">Status</td>
          <td>{{todo['status']}}</td>
        </tr>
        <tr>
          <td class="head">Tag</td>
          <td>{{todo['tag']['name']}} : {{todo['tag']['description']}}</td>
        </tr>
        <tr>
          <td class="head">Completion Date</td>
          <td>{{todo['completionDate']}}</td>
        </tr>
      </table>
    </div>
    <!-- Edit Task  -->
    <div style="width:50%;margin:50px auto" *ngIf="currentTodo!=null">
      <h4 style="color:purple">Edit Task</h4>
      <form #todoFormEdit="ngForm" (ngSubmit)="editTodo(todoFormEdit.form.value,currentTodo['id'])">
        <div *ngFor="let i of numSequence(noOfTasksEdit);let index = index">
          <h6 *ngIf="index>0">Sub Task# {{index}}</h6>
          <div class="form-group">
            <label for="name">Name</label>
            <div class="input-group">
              <input id="name" class="form-control" placeholder="Name" [name]="'name'+index">
            </div>
          </div>
          <div class="form-group">
            <label for="description">Description</label>
            <div class="input-group">
              <input id="description" class="form-control" placeholder="Description" [name]="'description'+index" required>
            </div>
          </div>
          <div class="form-group">
            <label for="duedate">Due Date</label>
            <div class="input-group">
              <input id="duedate" type="date" class="form-control" placeholder="Due Date" [name]="'duedate'+index">
            </div>
          </div>
          <div class="form-group">
            <label for="status">Status</label>
            <div class="input-group">
              <select class="form-control" [name]="'status'+index" required>
                <option value="pending">Pending</option>
                <option value="done">Done</option>
                <option value="overdue">Overdue</option>
                <option value="archived">Archived</option>
              </select>
            </div>
          </div>
          <div class="form-group">
            <label for="tag">Tag</label>
            <div class="input-group">
              <select class="form-control" [name]="'tag'+index">
                <option [value]="tag['id']" *ngFor="let tag of tags">{{tag['name']}} : {{tag['description']}}</option>
              </select>
            </div>
          </div>
          <button (click)="noOfTasksEdit=noOfTasksEdit+1" type="button" *ngIf="index===noOfTasksEdit-1">Add SubTask</button>
        </div>
        <div style="float:right">
          <button type="submit" class="btn btn-success" [disabled]="!todoFormEdit.valid">Save</button>
          <button type="button" class="btn btn-secondary" (click)="currentTodo=null">Cancel</button>
        </div>
      </form>
    </div>
  </div>
</div>

<router-outlet></router-outlet>